/* DIALOG TRIGGER BUTTON (LOGIN SINGUP TRIGGER BUTTON ) */

.login-signup-dialog-trigger-button {
    cursor: pointer;
    margin: 10px;
    height: 44px;
    width: 280px;
    background-color: #222222;
    color: white;
    border-radius: 5px;
    text-align: center;
}

/* DIALOG WINDOW MASK */

.rc-dialog {
    font-family: 'Saira Extra Condensed', sans-serif;
}
.rc-dialog-wrap {

}
.rc-dialog-title {

}
.rc-dialog-content {
    border-top: 5px solid lightgray;
    // color: #3B3B3B;
}
.rc-dialog-close {

}

.rc-dialog-close-x {
    position: relative;
    bottom: 10px;
    left: 15px;
}
.rc-dialog-close-x:after {
    content: '×';
}
.rc-dialog-close:hover {

}
.rc-dialog-header {

}
.rc-dialog-body {
}
.rc-dialog-footer {

}
.rc-dialog-zoom-enter,
.rc-dialog-zoom-appear {

}
.rc-dialog-zoom-leave {

}
.rc-dialog-zoom-enter.rc-dialog-zoom-enter-active,
.rc-dialog-zoom-appear.rc-dialog-zoom-appear-active {

}
.rc-dialog-zoom-leave.rc-dialog-zoom-leave-active {

}

/* DIALOG   CONTENT  */

    /* login block container */
.login-block-container {

    background: #fff;
    border-radius: 5px;

    margin: 0 auto;

}


    /*  login switcher double button */
.login-block-container > .login-switcher  {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.login-block-container > .login-switcher > .login-switch {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border: 1px solid darkgrey;
    border-right: none;

    transition: background-color 300ms ease-in-out;

}
.login-block-container > .login-switcher > .login-switch:active {
    animation: btn-login-signup-on-click-animation 1200ms ease 1 alternate;
}

.login-block-container > .login-switcher > .login-switch:hover {
    background-color: #d3d3d3;
}

.login-block-container > .login-switcher > .signup-switch {
    display: inline-block;
    padding: 10px;
    background-color: #A6A6A6;
    text-align: center;
    width: 100%;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border: 1px solid darkgrey;
    border-left: 0.5px solid darkgrey;

    transition: background-color 300ms ease-in-out;
}


.login-block-container > .login-switcher > .signup-switch:hover {
    background-color: #d3d3d3;
}

.login-block-container > .login-switcher > .signup-switch:active {
    animation: btn-login-signup-on-click-animation 1200ms ease 1 alternate;
}

@keyframes btn-login-signup-on-click-animation {
    0% {transform: scale(1,1);}
    90% {transform: scale(.9,.88);}
    100% {transform: scale(.99,.99);}
}

 /* INPUT FIELDS  (EMAIL, PASS) */

.login-signup-input {
    display: block;
    width: 100%;
    height: 42px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Saira Extra Condensed', sans-serif;
    /* padding: 0 20px 0 50px; */
    outline: none;
}

input.login-signup-input::placeholder {
    color: lightgrey;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 100;
}

.login-block-container input#email {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block-container input#email:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block-container input#password{
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block-container input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}


/* SUBMIT BUTTON (LOGIN / SINGUP ) */
.submit-btn {
    font-family: 'Saira Extra Condensed', sans-serif;
    cursor: pointer;
    display: block;
    outline: none;
    border-radius: 5px;
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 9px;

    transition: background-color 300ms ease-in-out;
}

.submit-btn:hover {
    background-color: #383838;
}

.submit-btn:active {
    animation: btn-submit-on-click-animation 1200ms ease 1 alternate;
}

@keyframes btn-submit-on-click-animation {
    0% {transform: scale(1,1);}
    90% {transform: scale(.9,.88);}
    100% {transform: scale(.99,.99);}
}
