/* TOPBAR  */
.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.topbar > .profile-bar {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topbar > .profile-bar > .ava-container {
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

.topbar > .profile-bar > .username-text {
    text-align: center;
    margin: 10px;
}


.topbar > .profile-bar > .btn-logout {
    border-radius: 17px;
    cursor: pointer;
    margin: 10px;
    height: 27px;
    width: 80px;
    background-color: #222222;
    color: white;
    text-align: center;
}

.topbar > .profile-bar > .btn-logout:hover {
    background-color: #383838;
}

.topbar > .profile-bar > .btn-logout:active {
    animation: btn-submit-on-click-animation 1200ms ease 1 alternate;
}

@keyframes btn-logout-on-click-animation {
    0% {transform: scale(1,1);}
    90% {transform: scale(.9,.88);}
    100% {transform: scale(.99,.99);}
}


