/* ENTRY_TODO_FIELD  */
.entry-todo-field-container {
    border: none;
}



.entry-todo-field-container > .new-todo-input {
    /* font-family: 'Vollkorn', serif; */
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 100;
    color: rgba(36,36,36,0.72);
    font-size: 24px;

    min-width: 500px;
    text-align: center;
    padding: 16px 16px 16px 16px;
    border: none;
    background: rgba(0, 0, 0, 0.003);

}


.entry-todo-field-container > .new-todo-input::placeholder  {
    color: lightgrey;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 100;
}
