/* TODO_ITEM */
.todo-item {
    position: relative;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 100;
    color: rgba(36,36,36,0.72);
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

label.todo-item-label {

}

.todo-item-checkbox {

}
.todo-item-checkbox  .rc-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: #d9d9d9;
    background-color: #ffffff;
    transition: border-color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


.todo-item > label > .todo-text {
    margin-left: 10px;

}

/* edit mode */
.todo-item >  input.input-edit-todo-text {
    margin-left: 10px;
    /* font-family: 'Vollkorn', serif; */
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 100;
    color: rgba(36,36,36,0.72);
    font-size: 24px;
    text-align: center;
    min-width: 200px;
    border: none;
    background: rgba(0, 0, 0, 0.003);

}

.todo-item > input.input-edit-todo-text::placeholder {
    color: lightgrey;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 100;
}





.edit-pencil-button {
    position: relative;
    top: 3px;
    margin-left: 10px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    opacity: 0.3;
    transition: opacity 0.7s;

}
.edit-pencil-button:hover {
    opacity: 1;
}

.delete-cross-button {
    margin-left: 10px;

    cursor: pointer;
    height: 12px;
    width: 12px;

    opacity: 0.3;
    transition: opacity 0.7s;
}

.delete-cross-button:hover {
    opacity: 1;
}