/* APPLICATION CONTAINER */
    /* f o n t s */
    @import url('https://fonts.googleapis.com/css?family=Vollkorn');
    @import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,400,700');


.app {
    text-align: center;
    /* font-family: 'Vollkorn', serif; */
    font-family: 'Saira Extra Condensed', sans-serif;
}

.app-intro {
    font-size: large;
}
    /* LOGO  and spinner */
.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes app-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* HEADER  */
.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}







/*
	APP
		Header

		Topbar

		EntryTodoField

		TodoList
			TodoItem

		Footer        (with filters)
*/



/****** GENERAL STYLES  ******/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
