@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,400,700');

/* FOOTER */

.footer {
    margin-top: 50px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 12px;
    color: rgba(36,36,36,0.54);
    font-weight: 100;
    opacity: 0.4;
}
